apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "test-app-chart.fullname" . }}
  labels:
    app: {{ include "test-app-chart.name" . }}
    {{- include "test-app-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "test-app-chart.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "test-app-chart.name" . }}
        {{- include "test-app-chart.labels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ include "test-app-chart.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
